<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block icon_logo %}
    <!--  LOGO AREA-->
    <link href="{{url_for('static', filename='images/favicon1.png') }}" rel="icon" type="image/png">
    {% endblock %}


    {% block style %}
    <!-- STYLE AREA -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}

    {% block external_link %}
    <!-- EXTERNAL LINK AREA -->
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta3/dist/css/tabler.rtl.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;700&display=swap" rel="stylesheet">
    {% endblock %}


    {% block extra_css_link %}
    <!-- Used when we need to import css link only on certain pages -->
    {% endblock %}


    {% block document_title %}
    {% if verb %}
    <title>قطرب | تصريف الفعل {{verb}}</title>
    {% else %}
    <title>قطرب: تصريف الأفعال العربية</title>
    {% endif %}
    {% endblock %}
</head>



<!-- EXTRA CSS -->
{% block extra_css %}
{% endblock %}
<!-- END EXTRA CSS -->


<body>
    <!-- HEADERS AREA -->
    {% block headers %}
    <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href="{{ url_for('home')}}">
                    <img src="{{ url_for('static', filename='images/logo.jpg')}}" width="158" height="40" alt="قطرب"
                        class="navbar-brand-image">
                </a>
            </h1>

            <div class="collapse navbar-collapse " id="navbar-menu">
                <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch  align-items-md-center ">
                    <ul class="navbar-nav ms-md-auto">
                        <li class="nav-item {% if current_page == 'home' %}active {% endif %}">
                            <a class="nav-link " href="{{ url_for('home')}} ">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                                    </svg>
                                </span>
                                <span class="nav-link-title ">
                                    الرئيسية
                                </span>
                            </a>
                        </li>
                        <li class="nav-item {% if current_page == 'doc' %}active {% endif %}">
                            <a class="nav-link" href="{{ url_for('doc')}}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/file-text -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path
                                            d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z">
                                        </path>
                                        <line x1="9" y1="9" x2="10" y2="9"></line>
                                        <line x1="9" y1="13" x2="15" y2="13"></line>
                                        <line x1="9" y1="17" x2="15" y2="17"></line>
                                    </svg>
                                </span>
                                <span class="nav-link-title">
                                    توثيق
                                </span>
                            </a>
                        </li>
                        <li class="nav-item {% if current_page == 'download' %}active {% endif %} ">
                            <a class="nav-link " href="{{url_for('download')}}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/download -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                        <polyline points="7 11 12 16 17 11"></polyline>
                                        <line x1="12" y1="4" x2="12" y2="16"></line>
                                    </svg>
                                </span>
                                <span class="nav-link-title ">
                                    تحميل
                                </span>
                            </a>
                        </li>
                        <li class="nav-item {% if current_page == 'projects' %}active {% endif %} ">
                            <a class="nav-link " href="{{url_for('projects')}}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/box -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline>
                                        <line x1="12" y1="12" x2="20" y2="7.5"></line>
                                        <line x1="12" y1="12" x2="12" y2="21"></line>
                                        <line x1="12" y1="12" x2="4" y2="7.5"></line>
                                    </svg>
                                </span>
                                <span class="nav-link-title ">
                                    مشاريع
                                </span>
                            </a>
                        </li>
                        <li class="nav-item {% if current_page == 'contact' %}active {% endif %}">
                            <a class="nav-link " href="{{url_for('contact')}}">
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/message-2 -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path
                                            d="M12 20l-3 -3h-2a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-2l-3 3">
                                        </path>
                                        <line x1="8" y1="9" x2="16" y2="9"></line>
                                        <line x1="8" y1="13" x2="14" y2="13"></line>
                                    </svg>
                                </span>
                                <span class="nav-link-title ">
                                    اتصل بنا
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    <!-- END HEADER AREA -->

    <!-- Content AREA -->
    {% block content %}
    {% endblock %}
    <!-- END CONENT AREA -->

    <!-- FOOTER AREA -->
    {% block footer %}
    <div class="container-fluid pt-3 pb-2 bg-white">
        <div class="container">

            <div class="row">
                <div class="col">

                    <span> <a href="{{ url_for('contact') }}"> للإتصال</a> </span>
                    <span><a href="http://blog.tahadz.com/"> مدونتي</a></span>

                </div>
                <div class="col text-center">

                    دعم من مجموعة
                    <a href="https://arabeyes.org/" class="">


                        عربايز
                    </a>
                    الاستضافة بدعم شركة
                    <a href="https://kuwaitnet.com/" class="">
                        كويت-نت
                    </a>
                </div>
            </div>
        </div>
        <div class="container text-center">
            كل الحقوق محفوظة tahadz.com (2021)
        </div>
    </div>
    {% endblock %}
    <!-- END FOOTER AREA -->


    <!-- JAVASCRIPT AREA -->
    {% block js %}
    <script src="https://unpkg.com/@tabler/core@1.0.0-beta3/dist/js/tabler.min.js"></script>
    {% endblock %}
    <!-- END JAVASCRIPT AREA -->

    <!-- EXTRA JS AREA -->
    {% block extra_js %}
    {% endblock %}
    <!-- END EXTRA JS AREA -->
</body>

</html>
