<<!DOCTYPE html>

<html lang='ar'>
<head>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title>قطرب: تصريف الأفعال العربية</title>
  <meta charset="UTF-8">
  <!--<link href="styles.css" rel="stylesheet">-->
  <link href="{{ url_for('static', filename = 'favicon1.png') }}" rel="icon" type="image/png">
  <link href="{{ url_for('static', filename = 'adawatstyle.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'xzero-rtl/css/bootstrap-arabic.min.css') }}" rel="stylesheet">

  <script src="{{ url_for('static', filename = 'jquery-1.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'xzero-rtl/js/bootstrap-arabic.min.js') }}"></script>
  <meta content="width=device-width, initial-scale=1" name="viewport">
<style>
</style>
</head>
<body dir="rtl">
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/main"><img alt="قطرب: تصريف الأفعال العربية" height="70px"
          src="{{ url_for('static', filename = 'logo.png') }}" style='float:right; margin-top:-20px;'></a>
        </div>

        <div>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a class="active" href="/index"><span class=
              "glyphicon glyphicon-home"></span>الرئيسية</a>
            </li>

            <li  class="active">
              <a href="/doc"><span class="glyphicon glyphicon-info-sign"></span>توثيق</a>
            </li>

            <li>
              <a href="/download"><span class="glyphicon glyphicon-download"></span>تحميل</a>
            </li>

            <li>
              <a href="/projects"><span class="glyphicon glyphicon-pushpin"></span>مشاريع</a>
            </li>

            <li>
              <a href="/contact"><span class="glyphicon glyphicon-envelope"></span>اتصل بنا</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<h2>توثيق</h2>
<ul>
<li><a href="#idea">فكرة</a></li>
<li><a href="#help">مساعدة</a></li>
<li><a href="#changlog">تحسينات</a></li>

<a name="idea"><h1>فكرة</h1></a>

<p>
يقوم البرنامج
بتصريف الأفعال المدخلة مع بعض المعلومات
الضرورية لتوليد جميع أشكال التصريف في الأزمنة المختلفة.<br>
هدف البرنامج هو تمكين تصريف الأفعال العربية تصريفا آليا مبسطا.<br>
هذا البرنامج
جزء من مشروع المدقق الإملائي العربي ويهدف إلى
دراسة سلوك الأفعال عربية من أجل توفير ميزة التعرف على الأفعال المتصرفة
والكشف عن أصلها، ومن ثم تدقيقها إملائيا، أو البحث عنها.<br>
تم برمجة التطبيق بلغة بايثون، لأنها لغة بسيطة، تمكننا من تجربة البرنامج
والخوارزميات دون الحاجة إلى الغوص في متاهات تمثيل البيانات.<br>
كما أن نسقها ولغتها البسيطة تمكننا من تحويل الخوارزميات في المستقبل إلى
لغات برمجة أخرى. وللعلم فإنّ هذا البرنامج سيتم توفيره على شكل برنامج حر
مفتوح المصدر للاستفادة منه في العديد من التطبيقات المفيدة.<br>
</p>

<h3>الأعمال المحققة</h3>
وقد حققنا في  برنامجنا المذكور:
<ul>
  <li> تصريف الفعل في الماضي المعلوم و المجهول والمضارع المعلوم والمجهول والأمر.</li>
  <li> تصريف الفعل في المضارع المؤكد والأمر المؤكد، والمضارع المنصوب والمجزوم.</li>
  <li>معالجة الألفات و الهمزات والإدغام ووظائف الإعلال.</li>
  <li>تم معالجة تصريف الأفعال التي على غرار فاعل في الماضي المبني للمجهول فوعل.</li>
  <li>تم معالجة إدغام التاء و النون في الأفعال المنتهية بهما مثل سكت، سكن، مع اللواحق سكتُّ، سكنّا، وذلك في الإطار العام للإدغام.</li>
  <li>تم معالجة الفعل المضعف بتحويله إلى فعل مفكك، ينصرف مثل الفعل الصحيح،ومن ثمّ يدغم ما يمكن إدغامه.</li>
  <li>معالجة الأفعال المعتلة.</li>
  <li>تبسيط وظائف التصريف في كل زمن.</li>
  <li>نتائج مطابقة لدليل تصريف الأفعال (في مشروع أيسبل).</li>
  <li>انتظام تصريف الأفعال المهموزة والمعتلة بنفس الطريقة.</li>
</ul>

<h3>تقييم أداء البرنامج:</h3>
ومن أجل تقييم أداء البرنامج وضبط الحالات الممكنة وضعناالخطة الآتية:
<ol>
  <li>وضع مخطط للأفعال النموذجية حسب نموذج القاعدة الصرفية</li>
  <li>تصريف الأفعال النموذجية تصريفا مبدئيا مصححا من قبل الإنسان</li>
  <li>وضع التصريف المصحح من قبل الإنسان كمرجع</li>
  <li>تحسين أداء البرنامج بالمقارنة بين النتائج المحصلة مع المرجع.</li>
</ol>

<h3>طموح&nbsp;</h3>
<p>ونطمح في
المستقبل إلى تحسين أداء البرنامج، وتدقيق النتائج
تدقيقا معمقا،
وكذلك برمجة المزيد من الوظائف الجديدة كالإلحاق بالضمائر المتصلة في محل
نصب مفعول به. وأهم هدف هو البحث عن طريقة عكسية لتفكيك تصريف الفعل و
استخراج أصله من تصريفه أي التدقيق الإملائي.<br>
وحسب برنامجنا أن يضع لبنة قوية مفتوحة المصدر في إطار دعم المعالجة
الآلية للغة العربية.
</p>

<a name="help"><h1>مساعدة</h1></a>

<h3> طريقة الاستعمال</h3>
<ol>
  <li>اكتب الفعل مشكولا شكلا تاما
(الحركات والشدة ) في خانة الفعل مثال
:
كَتَبَ، كَاتَبَ. </li>
  <li>ملاحظة إذا كان الفعل مهموز
الأول على وزن فاعل،مثل آخى يرجى كتابته على الشكل ءَاخَى. </li>
  <li>إذا كان الفعل ثلاثيا حدد
حركة عين الفعل في المضارع، مثلا كتب يكتُب تأخذ الحركة ضمة في المضارع.
إذا كان الفعل غير ثلاثي، تجاهل هذه الميزة. </li>
  <li>حدد اللزوم والتعدي للفعل، </li>
  <li>اختر الزمن الذي تريد
التصريف فيه </li>
  <li>اضغط على "صرّف الفعل".</li>
</ol>
<h3>الأخطاء المحتملة</h3>
<ul>
  <li>قد تحتوي الكلمة على حرف غير
عربي</li>
  <li>قد يكون عدد الحروف أقل من
ثلاثة أحرف أو أكثر من سبعة. </li>
  <li>قد تحتوي على حرف غير مناسب :
تنوين، أو تاء مربوطة، أو همزة تحت
الألف. </li>
  <li>قد تحتوي على حرف في غير
موضعه: حركة في البداية، أو
&rsquo;ؤ&rsquo;، &rsquo;ئ&rsquo; في أول الكلمة،أو
&rsquo;ى&rsquo; ليست
في الأخير. </li>
  <li>يرجى التأكد. </li>
</ul>
<a name="changlog"><h1>تحسينات</h1></a>

<h3>المطلوب </h3>
<ul>
 <li>تمكين المستخدم من اقتراح أفعال جديدة.</li>
  <li>تحسين واجهة المستخدم.</li>
  <li>نشر الخوارزمية وشرحها</li>
</ul>
<h3>المنجز</h3>
<ul>
<li> نشر قائمة الأفعال الثلاثية المستخدمة.</li>
<li> تقديم اقتراحات للمستخدم لتصريف الأفعال الثلاثية.</li>
<li> تتبع مدخلات المستخدمين .</li>
<li>التحقق من الأفعال الثلاثية من خلال قاعدة بيانات، تضم معلومات عن الفعل ( حركة عين مضارعه، اللزوم والتعدي).</li>
 <li>نقل البرنامج إلى استضافة عيون العرب
 <a href="http://qutrub.arabeyes.org"> الموقع الجديد</a>
بسبب منع غووغل تطبيقاته عن سوريا.</li>
  <li>تبسيط خوارزمية تصريف الأفعال</li>
  <li>نشر البرنامج للاستخدام والتجربة على الإنترنت.<br>
  </li>
</ul>

<section>
<a id="faq" name="faq"><h1>أسئلة شائعة</h1></a>


<h3>ما هو مشكال</h3>
<p>
مشكال برنامج لتشكيل النصوص العربية آليا لاستعمالها في القراءة والتعليم وفك الغمض عنها<br>
</p>

<h3>لماذا مشكال مفتوح المصدر</h3>
<p>
برنامج مشكال مفتوح المصدر، مما يعطي للمستخدم والمطوّر حريّة استعماله، والهدف منه توفير اللبنات الأساسية لبناء نظم لمعالجة اللغة العربية، وتطبيقات مختلفة لها.<br>
</p>

<h3>هل يتوفر البرنامج بشكل تطبيقات للهاتف الجوّال</h3>
<p>
حاليا، لا، وإذا كنت تستطيع المساهمة في ذلك، لا تتردد.<br>
</p>

<h3>لماذا التشكيل سيء؟</h3>
<p>
خوارزميات التشكيل تقريبية، ونتائجها غير دقيقة، وبعض النصوص تتمل أكثر من حالة، وتحتاج إلى فهم النص، لذا فإنّ الغاية من مشكال أن يقدّم تشكيلا أوليا ومن ثمّ يقدّم اقتراحات  تُمكّنُ من تعديل التشكيل.<br>
</p>

<h3>ما هي المقاربة المستخدمة للتشكيل؟</h3>
<p>
يستعمل مشكال مقاربة لغوية مبنية على مراحل التحليل الصرفي والنحوي والدلالي للوصول إلى اختيار التشكيل المناسب من بين عدّة حالات ممكنة.<br>
</p>

<h3>هل يمكنني استعمال مشكال على موقعي؟</h3>
<p>
يمكن تحميل مشكال وتشغيله على حاسوبك أو خادمك أو استضافته على موقع خاص.<br>
</p>

<h23>كيف نساهم في تطوير مشكال؟</h3>
<p>
يمكن بعدة طرق:<br>
<ul>
<li >جمع نصوص مشكولة مصححة لاستعمالها في تطوير البرنامج وتقييمه</li>
<li >الاطلاع على مصدر البرنامج على <a href="http://github.com/linuxscout/mishkal">github</a></li>
<li >تطوير واجهة وب مناسبة</li>
<li >تطوير تطبيق هاتف جوّال للبرنامج</li>
<li >الترويج للبرنامج على النت</li>
</ul>
</p>

<h3>هل يقبل الموقع التبرعات؟</h3>
<p>
<ul>
<li>نعم على الحساب التالي</li>
</ul>
</p>

<h3>هل يتعلّم البرنامج من مساهمات المستخدمين؟</h3>
<p>
حاليا البرنانج لا يفعل ذلك، لكن نخطط للتعلم من مساهمات وتصحيحات المستخدمين<br>
</p>

<h3>كيف يمكن تلوين الحركات؟</h3>
<p>
تقنيا، تلوين الحركات ممكن في الخطوط الحديثة، ومشكال يستعمل حاليا نسخة مخصصة من <a href="http://amirifont.org" title="الخط الأميري" class="http">الخط الأميري</a> المصحفي، ذي الحركات الملوّنة، المدعوم على موزيّلا فيرفوكس  ابتداء من الإصدار 32 وغوغل كروم.<br>
إذا كان متصحفك لا يدعم الخطوط ملونة الحركات، عليك تحديثه.<br>
</p>

 
</section>






<a id="links" name="links"/>   <h2>روابط</h2></a>

  <h3>موارد</h3>

  <ul>
    <li>
      <a href="http://tashkeela.sf.net/">مدونة النصوص العربية المشكولة</a>
    </li>

    <li>
      <a href="http://maskouk.sf.net/">المتلازمات اللفظية العربية</a>
    </li>

    <li>
      <a href="http://aracorpus.e3rab.com/">دليل المدونات اللغوية العربية (مكانز) المتاحة</a>
    </li>

    <li>
      <a href="http://radif.sf.net/">الرديف معجم المترادفات والأضداد، والقوافي وجموع التكسير</a>
    </li>

    <li>
      <a href="http://arabicstopwords.sf.net">الكلمات المستبعدة arabic stop words</a>
    </li>
  </ul>

  <h3>إطار الويب</h3>

  <ul>
    <li>
      <a href="http://www.ojuba.org/wiki/okasha/">هذا البرنامج يعمل على إطار الويب عكاشة</a>
    </li>
  </ul><a id="contrib" name="contrib">
  <h2>دعوة للمساهمة:</h2></a>

  <p>نرجو من الإخوة المطورين المساهمة، في تطوير هذا المشروع، كل بما يستطيع. لا تتردد</p><a href=
  '/contact'>(اتّصل بنا)</a>
  <p>%(footer)s</a></a>
</body>
</html>
