{% extends 'base.html' %}

{% block content %}
<div class="page-wrapper mb-2" style="min-height: 90vh;">
  <div class="container-xl mt-2 ">
    <div class="card p-4">
      <h1 class="text-primary">توثيق</h1>
      <!-- <ul>
                <li><a href="#idea">فكرة</a></li>
      </ul> -->
      <a name="idea">
        <h1 class="text-primary">فكرة</h1>
      </a>

      <p>
               برنامج قطرب لتصريف الأفعال العربية، في الأزمنة ويسندها إلى الضمائر.<br>
       قطرب برنامج مفتوح المصدر، يوفّر للمستخدم استعمالا مجانيا، في شكل موقع وب، وبرنامج لسطح المكتب.<br>
 وللمطورين يُستخدم كمكتبة برمجية من الموقع أو على مكتبات بيثون.<br>
يصرّف قطرب الأفعال العربية بسهولة ويسر، ويساعد المستخدم في التعلم، وتصحيح معلوماته.<br>
      </p>
      
       <p>
      وللعلم فإن قطرب لا يستعمل قاعدة بيانات للتصريف، حيث يصّرف الأفعال بخوارزمية بسيطة، ولكنه يستعين بقاعدة البيانات للتحقق من المدخلات و لتحسين أسلوب التعامل مع المستخدم (تجربة المستخدم). حيث يقترح على المستخدم تصحيح الفعل المُدخل، ويتوقع الأخطاء التي يرتكبها، وماهي صيغ الأفعال الصحيحة.
 </p>
     <h3>مزايا البرنامج</h3>
          <ul>
        <li> تصريف الفعل في الماضي المعلوم و المجهول والمضارع المعلوم والمجهول والأمر.</li>
        <li> تصريف الفعل في المضارع المؤكد والأمر المؤكد، والمضارع المنصوب والمجزوم.</li>
        <li>معالجة  التهميز والإدغام والإعلال.</li>
        <li>معالجة الأفعال المعتلة.</li>
        <li>تبسيط وظائف التصريف في كل زمن.</li>
        <li>تحسين مساعدة المستخدم في تصريف الأفعال التي تبدأ بألف مد مثل آمن، آسى.</li> 
<li>– تشكيل تلقائي للفعل غير الثلاثي عند طلب التصريف، أي أنّ المستخدم غير ملزم بتشكيل الفعل الذي يريد تصريفه.</li>
<li> والقدرة على تشكيل الفعل غير الثلاثي دون الاعتماد على قاعدة بيانات.</li>
<li> قائمة الأفعال بها 17 ألف فعل</li>
<li> يمكن تصريف فعل ما غير موجود في قاعدة البيانات</li>
            </ul>


<h3>كيف يعمل قطرب؟</h3>
<p><br />يتعلم العربي التصريف بعدة طرق منها التلقين السمعي النغمي في السنوات الأولى للتعود على النطق السليم للأفعال،</p>
<p><br />يتعلم العربي تصريف الأفعال، منذ نعومة أظافره، ويعتمد تعلمه عليها أولا على بيئته، وأساليب التلقين المعتمدة على السماع وحفظ الأمثلة ومن ثمّ التعميم على الأفعال. وبعد أن يتعوّد على التصريف الافتراضي للفعل، يشرع في تعلم القواعد المختلفة التي تثبت منهاج التصريف بقواعد عامة بسيطة.</p>
<p><br />ويتداخل في تعليم الصرف عدة مستويات، منها المستوى الصوتي الخاص بالأفعال المعتلة، وكذا المستوى الإملائي فيما يتعلق بكتابة الهمزة .</p>
    <img src="{{ url_for('static', filename='images/doc/levels.png')}}" width=250px alt="" srcset="">

<h4><br />التصريف الآلي&nbsp;:</h4>
<p><br />يحاول التصريف الآلي للأفعال العربية محاكاة التصريف البشري من خلال إضافة السوابق واللواحق للفعل لتصريفه،</p>
<p><br />لكنه يواجه بعض المسائل الصعبة، منها :</p>
<ul>
<li>&nbsp;معالجة الإعلال والإدغام .</li>
<li>&nbsp;معالجة الأفعال من خلال المعلومات الإضافية المطلوبة للتصريف .</li>
<li>&nbsp;معالجة الكتابة الإملائية</li>
</ul>
<h4><br /> طرائق التصريف الآلي&nbsp;:</h4>
<img src="{{ url_for('static', filename='images/doc/methods.png')}}" width=350px alt="" srcset="">
<p><br /> &bull; طريقة الجداول&nbsp;:</p>
<ul>
<li>&nbsp;تعتمد على تصنيف الأفعال العربية إلى نماذج محدودة مرقمة،</li>
<li>&nbsp;وعند تصريف فعل ما لابد من معرفة رقم نموذجه مسبقا،</li>
<li>&nbsp;وقد وضع ديشي قائمة ب 127 نموذجا .</li>
<li>&nbsp;القاعدة الصرفية للزامل : 136 نموذجا .</li>
<li>&nbsp;مشروع ايةسبل : 140 نموذجا .</li>
</ul>
<p>&nbsp;</p>
<p><strong> ميزة هذه الطريقة :</strong></p>
<ul>
<li>سهولة تصريف الأفعال باستبدال حروفها بما في المنوال، وهي تشبه إلى حد كبير الطريقة التعليمية المعتمدة على السماع .</li>
<li>&nbsp;وتسهل معالجة الإعلال والإبدال والإملاء من خلال الجدول .</li>
<li>&nbsp;لكنها تتطلب معالجة مسبقة لكل فعل، للتمكن من تحديد رقمه</li>
<li>&nbsp;مما يجعل هذه الطريقة غير قادرة على تصريف فعل غير وارد في قاعدة بيانات الأفعال .</li>
</ul>
<h4>طريقة القواعد&nbsp;:</h4>
<p>تعتمد طريقة الاشتقاق والقواعد على حصر القواعد التي يخضع لها الفعل العربي باعتبار التصريف شكلا من أشكال الاشتقاق،</p>
<p><br /> من رواد هذه الطريقة :</p>
<ul>
<li>&nbsp;نزار حبش</li>
<li>&nbsp;مشروع نظام صرف،</li>
<li>&nbsp;المنهج الحاسوبي للتعامل مع إسناد الأفعال إلى الضمائر [الناجم، 2004] ،</li>
</ul>
<p><br /> وتعتبر من أنجع الطرق في توليد تصريف الفعل انطلاقا من جذره الأصلي، وصياغة كل الإمكانيات الصرفية الممكنة.&nbsp; لكنها تعتمد على الجذور وعلى قواعد تصريفية واشتقاقية متداخلة.<br />وترتبط معظم هذه القواعد بالجذور مما يستلزم دراسة قبلية من أجل تحديد القواعد التي تطبق على جذر ما</p>
<p>&nbsp;</p>
     
<h4>منهجية قطرب</h4>
<img src="{{ url_for('static', filename='images/doc/idea.png')}}" width=350px alt="" srcset="">

يعتمد قطرب في التصريف على الفصل بين المستويات المختلفة، اي تصريف الفعل بصورته الصوتية، ومن ثم كتابته إملائيا،  مما يبسط قواعد التصريف ويفصل بين معالجة الإعلال والتهميز والتضعيف، دون الحاجة إلى قواعد خاصة ولا دراسة مسبقة للفعل المراد تصريفه.

     <h3>مراجع عن قطرب</h3>
          <ul>
          <li> <a href="https://www.researchgate.net/publication/342673690_Towards_An_Open_Platform_For_Arabic_Language_Processing">د. طه زروقي، "من أجل منظومة مفتوحة لمعالجة اللغة العربية"، أطروحة دكتوراه في علوم الحاسوب، المدرسة العليا للإعلام الآلي، الجزائر، 2020 
 </a></li>
        <li> <a href="{{ url_for('static', filename='doc/slidesqutrubv3.pdf')}}">د. طه زروقي، "برنامج قطرب لتصريف الأفعال العربية خوارزمية جديدة مبسطة"، عرض تقديمي للمشروع، 2021
        <li> <a href="https://journals.ekb.eg/article_132636_0.html">
                د. محمد محمد عبد الحليم الشوبري، "برنامج تصريف الأفعال (قطرب) نقد وتقويم"، حولية کلية اللغة العربية بجرجا، العدد 24، الجزء 13، 2020.
        </a></li>

        <li> <a href="{{ url_for('static', filename='doc/younsi.pdf')}}"> محمد يونسي، " توصيف برنامج قطرب لتصريف الأفعال العربية"، مؤتمر "اللغة العربية وبرامج الذكاء الاصطناعي : الواقع والرهانات"، جامعة معسكر والمجلس الأعلى اللغة العربية بالجزائر، 2019.</a></li>

            </ul>

     <h3>من هو قطرب؟</h3>

 هو أبو علي محمد بن المستنيربن أحمد البصري، أحد  من اختلف إلى سيبويه  وتعلم منه، وكان يدلج إليه، وإذا خرج  رآه على بابه غدوة وعشية، فقال له: ماأنت إلا قطرب ليل!  فلقب به. واشتهر بمثلثات قطرب. وأول من ألف رسالة في  أبنية الأفعال. 
توفي قطرب ببغداد سنة 206 هـ

<h3>للمطورين:</h3>
         يوفر قطرب مكتبة
          <a href="https://pypi.org/project/libqutrub/">برمجية بلغة بيثون على PyPI</a> 
          و مصدرها على موقع<a href="http://github.com/linuxscout/qutrub"> Github</a>

         
    </div>
  </div>
</div>

{% endblock %}