{% extends 'base.html' %}

{% block extra_css_link %}
<!-- Toast for notifications -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
{% endblock %}


{% block content %}
<div class="page-wrapper mb-2" style="min-height: 90vh;">
    <div class="container-fluid mt-2 ">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-9">
                <div class="card">
                    <div class="container d-flex pt-1 pb-1 justify-content-end" title="أدوات">
                        <button class="btn btn-outline me-2 " onclick="toggel_adawat()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
                                <line x1="14.5" y1="5.5" x2="18.5" y2="9.5"></line>
                                <polyline points="12 8 7 3 3 7 8 12"></polyline>
                                <line x1="7" y1="8" x2="5.5" y2="9.5"></line>
                                <polyline points="16 12 21 17 17 21 12 16"></polyline>
                                <line x1="16" y1="17" x2="14.5" y2="18.5"></line>
                            </svg>
                            <span> أدوات</span>

                        </button>
                        <button class="btn btn-outline me-2 " title="فعل عشوائي" onclick="random_text()">

                            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-0 me-md-2" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="21" y1="17" x2="3" y2="17"></line>
                                <path d="M6 10l-3 -3l3 -3"></path>
                                <line x1="3" y1="7" x2="21" y2="7"></line>
                                <path d="M18 20l3 -3l-3 -3"></path>
                            </svg>
                            <span class="d-none d-sm-block"> فعل عشوائي</span>
                        </button>
                        <button class="btn btn-outline me-2 " data-bs-toggle="modal" data-bs-target="#modal-simple"
                            title="مساعدة">

                            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-0 me-md-2" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="9"></circle>
                                <line x1="12" y1="17" x2="12" y2="17.01"></line>
                                <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path>
                            </svg>
                            <span class="d-none d-sm-block">مساعدة</span>
                        </button>
                        <button class="btn btn-outline me-2 " title="مسح" onclick="remove_text()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-0 me-md-2" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                            <span class="d-none d-sm-block"> مسح</span>
                        </button>
                    </div>
                </div>
                <div class="card mt-2 pt-2 pb-2">
                    <div class="container">
                        <form onsubmit="event.preventDefault()">
                            <label class="form-label mb-0 text-primary ">أدخل الفعل</label>
                            <input id="input-text-field" type="text" class="form-control " name="example-text-input"
                                placeholder="أدخل الفعل ..." autofocus="">
                            <div class="container-fluid d-flex mt-2 ">
                                <a type="button" class="btn btn-primary me-2  d-none d-md-block"
                                    style="max-height: 40px;" onclick="request_data()">تصريف الفعل</a>
                                <div id="adawat-area" class="container-fluid  mb-0 mb-md-2 pt-2 d-none">
                                    <div class="mb-md-3 mb-0">
                                        <div class="form-label text-primary">أدوات</div>
                                        <div>
                                            <label class="form-check form-check-inline">
                                                <input id="transitive-checkbox-input" class="form-check-input"
                                                    type="checkbox" checked>
                                                <span class="form-check-label">متعدي </span>
                                            </label>
                                            <label class="form-check form-check-inline">
                                                <input id="all-checkbox-input" class="form-check-input" type="checkbox"
                                                    onclick="toggel_adawat_times(this)" checked>
                                                <span class="form-check-label">كل الأزمنة</span>
                                            </label>
                                            <div id="adawat-times-area"
                                                class="border pt-2 p-1 mb-2 rounded-1 pb-0 d-none">
                                                <label class="form-check form-check-inline">
                                                    <input id="past-checkbox-input" class="form-check-input"
                                                        type="checkbox" checked>
                                                    <span class="form-check-label">الماضي </span>
                                                </label>
                                                <label class="form-check form-check-inline">
                                                    <input id="future-checkbox-input" class="form-check-input"
                                                        type="checkbox" checked>
                                                    <span class="form-check-label">المضارع </span>
                                                </label>
                                                <label class="form-check form-check-inline">
                                                    <input id="imperative-checkbox-input" class="form-check-input"
                                                        type="checkbox" checked>
                                                    <span class="form-check-label">الأمر </span>
                                                </label>
                                                <label class="form-check form-check-inline">
                                                    <input id="passive-checkbox-input" class="form-check-input"
                                                        type="checkbox" checked>
                                                    <span class="form-check-label"> المبني للمجهول </span>
                                                </label>
                                                <label class="form-check form-check-inline">
                                                    <input id="future_moode-checkbox-input" class="form-check-input"
                                                        type="checkbox" checked>
                                                    <span class="form-check-label"> المضارع المنصوب و المجزوم </span>
                                                </label>
                                                <label class="form-check form-check-inline">
                                                    <input id="confirmed-checkbox-input" class="form-check-input"
                                                        type="checkbox" checked>
                                                    <span class="form-check-label">المؤكد </span>
                                                </label>
                                            </div>
                                        </div>
                                        <label class="form-check form-check-inline ps-0">
                                            <span class="form-check-label">حركة عين المضارع
                                                <select id="future_type-select-input" class="form-select-inline">
                                                    <option value="فتحة" selected>الفتحة</option>
                                                    <option value="ضمة">الضمة</option>
                                                    <option value="كسرة">الكسرة</option>
                                                </select>
                                                للفعل الثلاثي فقط
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <a type="button" class="btn btn-primary me-2 d-md-none d-block"
                                onclick="request_data()">تصريف الفعل</a>

                        </form>
                    </div>
                </div>

                <div class="card mt-2 mb-3">
                    <div id="suggest-area" class="suggest p-2">
                        <!-- SUGGEST AREA -->
                    </div>
                    <div id="result-area" class="result" style="min-height: 150px;">
                        <!-- RESULT AREA -->
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-none d-lg-block">
                <!-- Left Side -->
                <div class="card mb-2">
                    <div class="container pt-2 pb-1">
                        <h3 class="text-primary mb-1 "> ماهو قُطْرُب ؟</h3>
                        <p>
                           برنامج قطرب <b>لتصريف الأفعال العربية</b>، في الأزمنة ويسندها إلى الضمائر.<br>
       قطرب برنامج مفتوح المصدر، يوفّر للمستخدم استعمالا مجانيا، في شكل موقع وب، وبرنامج لسطح المكتب.<br>
 وللمطورين يُستخدم كمكتبة برمجية من الموقع أو على مكتبات بيثون.<br>
يصرّف قطرب الأفعال العربية بسهولة ويسر، ويساعد المستخدم في التعلم، وتصحيح معلوماته.<br>


                            <a href="{{ url_for('doc')}}"> المزيد عن قطرب</a>
                        </p>

                    </div>
                </div>
                <div class="card mb-2">
                    <div class="container pt-2 pb-1">
                        <h3 class="text-primary mb-1 ">تحميل قُطْرُب</h3>
                        <a href="http://sourceforge.org/projects/qutrub"><img src="https://img.shields.io/sourceforge/dt/qutrub.svg"/> </a>
                        <div class="container mb-3 d-flex align-items-center justify-content-center">
                            <a href="{{ url_for('download') }}" class="btn btn-outline-info ">
                                <!-- Download SVG icon from http://tabler-icons.io/i/download -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                    <polyline points="7 11 12 16 17 11"></polyline>
                                    <line x1="12" y1="4" x2="12" y2="16"></line>
                                </svg>
                                <span> تحميل</span>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="card mb-2" style="min-height: 300px;">
                    <div class="container pt-2 pb-2">
                        <h3 class="text-primary">مشاريع أخرى</h3>
                        <div class="row">
                            <div class="col-4">
                                <img class="me-2"
                                    src="{{ url_for('static', filename='images/projects/tashaphyne.png')}}" alt=""
                                    srcset="">
                            </div>
                            <div class="col-8 align-items-center d-flex">
                                <a href="http://pypi.python.org/pypi/Tashaphyne/"> تاشفين: التجذيع الخفيف للنصوص
                                    العربية</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <img class="me-2" src="{{ url_for('static', filename='images/projects/ayaspell.png')}}"
                                    alt="" srcset="">
                            </div>
                            <div class="col-8 align-items-center d-flex">
                                <a href="http://ayaspell.sf.net/">آية سبل، القاموس العربي الحر للتدقيق الإملائي</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <img src="{{ url_for('static', filename='images/projects/adawat.png')}}" alt=""
                                    srcset="">
                            </div>
                            <div class="col-8 align-items-center d-flex">
                                <a href="http://adawat.sf.net/">أدوات النص العربي</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <img src="{{ url_for('static', filename='images/projects/pyarabic.png')}}" alt=""
                                    srcset="">
                            </div>
                            <div class="col-8 align-items-center d-flex">
                                <a href="http://pypi.python.org/pypi/PyArabic/">مكتبة برمجية للغة العربية بلغة بيثون</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <img src="{{ url_for('static', filename='images/projects/radif.png')}}" alt=""
                                    srcset="">
                            </div>
                            <div class="col-8 align-items-center d-flex">
                                <a href="http://radif.sf.net/">معجم المترادفات والأضداد والقوافي والجموع</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-simple" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">مساعدة</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>أكتب الفعل في الخانة، ثم اضغط على زر <span class="text-primary">تصريف الفعل</span>.</li>

                    <li>انتظر حتى تظهر النتيجة.</li>

                    <li>اضغط على <span class="text-primary">فعل عشوائي</span> للحصول على اقتراحات أخرى.</li>

                    <li>اضغط على زر <span class="text-primary">أدوات</span> أخرى للحصول على خدمات أخرى.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">غلق</button>

            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-tasrif-view" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Full width modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">غلق</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="{{url_for('static', filename='js/main.js') }}"></script>
{% endblock %}