*.pyc
*.*~
tests/output/*
tests/testet/models/*
tests/samples/*
doc/html/*
build/*
dist/*
interfaces/web.old/*
my_env/*
.vscode/*
interfaces/web/.vscode/
/LibQutrub.egg-info/PKG-INFO
/LibQutrub.egg-info/SOURCES.txt
/LibQutrub.egg-info/dependency_links.txt
/LibQutrub.egg-info/requires.txt
/LibQutrub.egg-info/top_level.txt
/doc/invers_algo.txt
/libqutrub.egg-info/PKG-INFO
/libqutrub.egg-info/SOURCES.txt
/libqutrub.egg-info/dependency_links.txt
/libqutrub.egg-info/requires.txt
/libqutrub.egg-info/top_level.txt
/interfaces/gui/resources/ar.zip
/interfaces/gui/resources/images/Thumbs.db
/interfaces/web/static/Thumbs.db
/interfaces/web/templates/carousel.html
/interfaces/web/templates/main2.html
/demo.log
/tools/temp.csv
