/interfaces/web/templates/main.html~
/interfaces/web/templates/main2.html
/interfaces/web/templates/new.html~
/interfaces/web/tmp/logging_example.out
/libqutrub/classnoun.py
/libqutrub/verb_db.pyc
/libqutrub/verb_valid.pyc
/support/pyarabic/__init__.pyc
/support/pyarabic/arabrepr.pyc
/support/pyarabic/araby.pyc
/support/pyarabic/stack.pyc
/interfaces/web/templates/archiv/500.html
/interfaces/web/templates/archiv/link.html
/interfaces/web/templates/archiv/log.html
/interfaces/web/templates/archiv/main2.html
/interfaces/web/templates/archiv/mainol.html
/interfaces/web/templates/archiv/temp.html
/interfaces/web/templates/archiv/w3layouts-license.txt
/interfaces/web/templates/archiv/whoisqutrub.html
/interfaces/web/templates/carousel.html
/interfaces/web/static/Thumbs.db
/core/__init__.pyc
/core/adaat.pyc
/core/myrepr.pyc
/core/randtext.pyc
/interfaces/gui/__init__.pyc
/interfaces/gui/appgui.pyc
/interfaces/gui/images/Thumbs.db
/interfaces/gui/qutrub_rc.pyc
/interfaces/gui/qutrubgui.pyc
/interfaces/gui/resources/ar.zip
/interfaces/gui/resources/images/Thumbs.db
/interfaces/gui/setting.pyc
/interfaces/web/adawaty.pyc
/interfaces/web/lib/paste/httpserver.pyc
/interfaces/web/lib/paste/paste.zip
/interfaces/web.old/adawaty.py
/interfaces/web.old/adawaty.pyc
/interfaces/web.old/lib/okasha2/__init__.py
/interfaces/web.old/lib/okasha2/__init__.pyc
/interfaces/web.old/lib/okasha2/baseWebApp.py
/interfaces/web.old/lib/okasha2/baseWebApp.pyc
/interfaces/web.old/lib/okasha2/kidTemplate.py
/interfaces/web.old/lib/okasha2/utils.py
/interfaces/web.old/lib/okasha2/utils.pyc
/interfaces/web.old/lib/paste/__init__.py
/interfaces/web.old/lib/paste/__init__.pyc
/interfaces/web.old/lib/paste/__init__.pyo
/interfaces/web.old/lib/paste/auth/__init__.py
/interfaces/web.old/lib/paste/auth/auth_tkt.py
/interfaces/web.old/lib/paste/auth/basic.py
/interfaces/web.old/lib/paste/auth/cas.py
/interfaces/web.old/lib/paste/auth/cookie.py
/interfaces/web.old/lib/paste/auth/digest.py
/interfaces/web.old/lib/paste/auth/form.py
/interfaces/web.old/lib/paste/auth/grantip.py
/interfaces/web.old/lib/paste/auth/multi.py
/interfaces/web.old/lib/paste/auth/open_id.py
/interfaces/web.old/lib/paste/cascade.py
/interfaces/web.old/lib/paste/cgiapp.py
/interfaces/web.old/lib/paste/cgitb_catcher.py
/interfaces/web.old/lib/paste/config.py
/interfaces/web.old/lib/paste/debug/__init__.py
/interfaces/web.old/lib/paste/debug/debugapp.py
/interfaces/web.old/lib/paste/debug/doctest_webapp.py
/interfaces/web.old/lib/paste/debug/fsdiff.py
/interfaces/web.old/lib/paste/debug/prints.py
/interfaces/web.old/lib/paste/debug/profile.py
/interfaces/web.old/lib/paste/debug/testserver.py
/interfaces/web.old/lib/paste/debug/watchthreads.py
/interfaces/web.old/lib/paste/debug/wdg_validate.py
/interfaces/web.old/lib/paste/errordocument.py
/interfaces/web.old/lib/paste/evalexception/__init__.py
/interfaces/web.old/lib/paste/evalexception/evalcontext.py
/interfaces/web.old/lib/paste/evalexception/media/debug.js
/interfaces/web.old/lib/paste/evalexception/media/minus.jpg
/interfaces/web.old/lib/paste/evalexception/media/plus.jpg
/interfaces/web.old/lib/paste/evalexception/middleware.py
/interfaces/web.old/lib/paste/evalexception/mochikit/MochiKit.js
/interfaces/web.old/lib/paste/evalexception/mochikit/__package__.js
/interfaces/web.old/lib/paste/exceptions/__init__.py
/interfaces/web.old/lib/paste/exceptions/collector.py
/interfaces/web.old/lib/paste/exceptions/errormiddleware.py
/interfaces/web.old/lib/paste/exceptions/formatter.py
/interfaces/web.old/lib/paste/exceptions/reporter.py
/interfaces/web.old/lib/paste/exceptions/serial_number_generator.py
/interfaces/web.old/lib/paste/fileapp.py
/interfaces/web.old/lib/paste/fixture.py
/interfaces/web.old/lib/paste/flup_session.py
/interfaces/web.old/lib/paste/gzipper.py
/interfaces/web.old/lib/paste/httpexceptions.py
/interfaces/web.old/lib/paste/httpheaders.py
/interfaces/web.old/lib/paste/httpserver.py
/interfaces/web.old/lib/paste/httpserver.pyc
/interfaces/web.old/lib/paste/lint.py
/interfaces/web.old/lib/paste/modpython.py
/interfaces/web.old/lib/paste/paste.zip
/interfaces/web.old/lib/paste/pony.py
/interfaces/web.old/lib/paste/progress.py
/interfaces/web.old/lib/paste/proxy.py
/interfaces/web.old/lib/paste/recursive.py
/interfaces/web.old/lib/paste/registry.py
/interfaces/web.old/lib/paste/reloader.py
/interfaces/web.old/lib/paste/request.py
/interfaces/web.old/lib/paste/response.py
/interfaces/web.old/lib/paste/session.py
/interfaces/web.old/lib/paste/transaction.py
/interfaces/web.old/lib/paste/translogger.py
/interfaces/web.old/lib/paste/url.py
/interfaces/web.old/lib/paste/urlmap.py
/interfaces/web.old/lib/paste/urlparser.py
/interfaces/web.old/lib/paste/util/PySourceColor.py
/interfaces/web.old/lib/paste/util/UserDict24.py
/interfaces/web.old/lib/paste/util/__init__.py
/interfaces/web.old/lib/paste/util/__init__.pyc
/interfaces/web.old/lib/paste/util/classinit.py
/interfaces/web.old/lib/paste/util/classinstance.py
/interfaces/web.old/lib/paste/util/converters.py
/interfaces/web.old/lib/paste/util/converters.pyc
/interfaces/web.old/lib/paste/util/dateinterval.py
/interfaces/web.old/lib/paste/util/datetimeutil.py
/interfaces/web.old/lib/paste/util/doctest24.py
/interfaces/web.old/lib/paste/util/filemixin.py
/interfaces/web.old/lib/paste/util/finddata.py
/interfaces/web.old/lib/paste/util/findpackage.py
/interfaces/web.old/lib/paste/util/import_string.py
/interfaces/web.old/lib/paste/util/intset.py
/interfaces/web.old/lib/paste/util/ip4.py
/interfaces/web.old/lib/paste/util/killthread.py
/interfaces/web.old/lib/paste/util/killthread.pyc
/interfaces/web.old/lib/paste/util/looper.py
/interfaces/web.old/lib/paste/util/mimeparse.py
/interfaces/web.old/lib/paste/util/multidict.py
/interfaces/web.old/lib/paste/util/quoting.py
/interfaces/web.old/lib/paste/util/scgiserver.py
/interfaces/web.old/lib/paste/util/string24.py
/interfaces/web.old/lib/paste/util/subprocess24.py
/interfaces/web.old/lib/paste/util/template.py
/interfaces/web.old/lib/paste/util/threadedprint.py
/interfaces/web.old/lib/paste/util/threadinglocal.py
/interfaces/web.old/lib/paste/wsgilib.py
/interfaces/web.old/lib/paste/wsgiwrappers.py
/interfaces/web.old/lib/simplejson/__init__.py
/interfaces/web.old/lib/simplejson/_speedups.c
/interfaces/web.old/lib/simplejson/decoder.py
/interfaces/web.old/lib/simplejson/encoder.py
/interfaces/web.old/lib/simplejson/ordered_dict.py
/interfaces/web.old/lib/simplejson/scanner.py
/interfaces/web.old/lib/simplejson/tests/__init__.py
/interfaces/web.old/lib/simplejson/tests/test_check_circular.py
/interfaces/web.old/lib/simplejson/tests/test_decimal.py
/interfaces/web.old/lib/simplejson/tests/test_decode.py
/interfaces/web.old/lib/simplejson/tests/test_default.py
/interfaces/web.old/lib/simplejson/tests/test_dump.py
/interfaces/web.old/lib/simplejson/tests/test_encode_basestring_ascii.py
/interfaces/web.old/lib/simplejson/tests/test_encode_for_html.py
/interfaces/web.old/lib/simplejson/tests/test_fail.py
/interfaces/web.old/lib/simplejson/tests/test_float.py
/interfaces/web.old/lib/simplejson/tests/test_indent.py
/interfaces/web.old/lib/simplejson/tests/test_pass1.py
/interfaces/web.old/lib/simplejson/tests/test_pass2.py
/interfaces/web.old/lib/simplejson/tests/test_pass3.py
/interfaces/web.old/lib/simplejson/tests/test_recursion.py
/interfaces/web.old/lib/simplejson/tests/test_scanstring.py
/interfaces/web.old/lib/simplejson/tests/test_separators.py
/interfaces/web.old/lib/simplejson/tests/test_speedups.py
/interfaces/web.old/lib/simplejson/tests/test_unicode.py
/interfaces/web.old/lib/simplejson/tool.py
/interfaces/web.old/mishkal-webserver.py
/interfaces/web.old/qutrub-webserver.py
/interfaces/web.old/resources/errorPages/400.shtml
/interfaces/web.old/resources/errorPages/404.shtml
/interfaces/web.old/resources/errorPages/500.shtml
/interfaces/web.old/resources/errorPages/Index.html
/interfaces/web.old/resources/errorPages/images/logo.png
/interfaces/web.old/resources/errorPages/logo.png
/interfaces/web.old/resources/files/Thumbs.db
/interfaces/web.old/resources/files/adawat.js
/interfaces/web.old/resources/files/adawat.js~
/interfaces/web.old/resources/files/adawatstyle.css
/interfaces/web.old/resources/files/adawatstyle.css~
/interfaces/web.old/resources/files/favicon1.jpg
/interfaces/web.old/resources/files/favicon1.png
/interfaces/web.old/resources/files/fonts/DroidNaskh-Regular-Colored.ttf
/interfaces/web.old/resources/files/fonts/DroidNaskh-Regular-Colored.woff
/interfaces/web.old/resources/files/fonts/KacstOne.eot
/interfaces/web.old/resources/files/fonts/KacstOne.otf
/interfaces/web.old/resources/files/fonts/KacstOne.svg
/interfaces/web.old/resources/files/fonts/KacstOne.ttf
/interfaces/web.old/resources/files/fonts/KacstOne.woff
/interfaces/web.old/resources/files/fonts/KacstOneColored.ttf
/interfaces/web.old/resources/files/fonts/SimpleNaskhi-colores.ttf
/interfaces/web.old/resources/files/fonts/amiri-quran-colored.eot
/interfaces/web.old/resources/files/fonts/amiri-quran-colored.ttf
/interfaces/web.old/resources/files/fonts/amiri-quran-colored.woff
/interfaces/web.old/resources/files/images/adawat.png
/interfaces/web.old/resources/files/images/ayaspell.png
/interfaces/web.old/resources/files/images/main167-750x402.jpg
/interfaces/web.old/resources/files/images/pyarabic.png
/interfaces/web.old/resources/files/images/qutrub.jpg
/interfaces/web.old/resources/files/images/radif.png
/interfaces/web.old/resources/files/images/tashaphyne.png
/interfaces/web.old/resources/files/jquery-1.7.1.min.js
/interfaces/web.old/resources/files/jquery.min.js
/interfaces/web.old/resources/files/logo-icon.jpg
/interfaces/web.old/resources/files/logo-icon.png
/interfaces/web.old/resources/files/logo.jpg
/interfaces/web.old/resources/files/logo2.png
/interfaces/web.old/resources/files/logo3.jpg
/interfaces/web.old/resources/files/samples/gotashkeel.png
/interfaces/web.old/resources/files/samples/mishkal.png
/interfaces/web.old/resources/files/samples/mishkal_alpha_smpl.png
/interfaces/web.old/resources/files/samples/mixkal.jpg
/interfaces/web.old/resources/files/xzero-rtl/css/bootstrap-arabic-theme.css
/interfaces/web.old/resources/files/xzero-rtl/css/bootstrap-arabic-theme.css.map
/interfaces/web.old/resources/files/xzero-rtl/css/bootstrap-arabic-theme.min.css
/interfaces/web.old/resources/files/xzero-rtl/css/bootstrap-arabic.css
/interfaces/web.old/resources/files/xzero-rtl/css/bootstrap-arabic.css.map
/interfaces/web.old/resources/files/xzero-rtl/css/bootstrap-arabic.min.css
/interfaces/web.old/resources/files/xzero-rtl/fonts/glyphicons-halflings-regular.eot
/interfaces/web.old/resources/files/xzero-rtl/fonts/glyphicons-halflings-regular.svg
/interfaces/web.old/resources/files/xzero-rtl/fonts/glyphicons-halflings-regular.ttf
/interfaces/web.old/resources/files/xzero-rtl/fonts/glyphicons-halflings-regular.woff
/interfaces/web.old/resources/files/xzero-rtl/js/bootstrap-arabic.js
/interfaces/web.old/resources/files/xzero-rtl/js/bootstrap-arabic.min.js
/interfaces/web.old/resources/templates/archiv/500.html
/interfaces/web.old/resources/templates/archiv/link.html
/interfaces/web.old/resources/templates/archiv/log.html
/interfaces/web.old/resources/templates/archiv/main2.html
/interfaces/web.old/resources/templates/archiv/mainol.html
/interfaces/web.old/resources/templates/archiv/temp.html
/interfaces/web.old/resources/templates/archiv/w3layouts-license.txt
/interfaces/web.old/resources/templates/archiv/whoisqutrub.html
/interfaces/web.old/resources/templates/carousel.html
/interfaces/web.old/resources/templates/contact.html
/interfaces/web.old/resources/templates/doc.html
/interfaces/web.old/resources/templates/download.html
/interfaces/web.old/resources/templates/main.html
/interfaces/web.old/resources/templates/main.html~
/interfaces/web.old/resources/templates/main2.html
/interfaces/web.old/resources/templates/new.html~
/interfaces/web.old/resources/templates/projects.html
/interfaces/web.old/tmp/logging_example.out
/gui/__init__.pyc
/gui/qutrub_rc.pyc
/gui/qutrubgui.pyc
/gui/setting.pyc
/images/Thumbs.db
/libqutrub/__init__.pyc
/libqutrub/alefmaddaverbtable.pyc
/libqutrub/ar_ctype.pyc
/libqutrub/ar_verb.pyc
/libqutrub/arabic_const.pyc
/libqutrub/classverb.pyc
/libqutrub/conjugatedisplay.pyc
/libqutrub/mosaref_main.pyc
/libqutrub/triverbtable.pyc
/libqutrub/verb_const.pyc
/pyarabic/__init__.pyc
/pyarabic/araby.pyc
/pyarabic/doc/api-objects.txt
/pyarabic/doc/class-tree.html
/pyarabic/doc/crarr.png
/pyarabic/doc/doc.zip
/pyarabic/doc/epydoc.css
/pyarabic/doc/epydoc.js
/pyarabic/doc/frames.html
/pyarabic/doc/help.html
/pyarabic/doc/identifier-index.html
/pyarabic/doc/index.html
/pyarabic/doc/module-tree.html
/pyarabic/doc/pyarabic-module.html
/pyarabic/doc/pyarabic-pysrc.html
/pyarabic/doc/pyarabic.arabicchars'-module.html
/pyarabic/doc/pyarabic.arabicchars'-pysrc.html
/pyarabic/doc/pyarabic.arabicchars'.arabicchars-class.html
/pyarabic/doc/pyarabic.arabicchars-module.html
/pyarabic/doc/pyarabic.arabicchars-pysrc.html
/pyarabic/doc/pyarabic.arabicchars.arabicchars-class.html
/pyarabic/doc/pyarabic.araby-module.html
/pyarabic/doc/pyarabic.araby-pysrc.html
/pyarabic/doc/pyarabic.araby.araby-class.html
/pyarabic/doc/redirect.html
/pyarabic/doc/toc-everything.html
/pyarabic/doc/toc-pyarabic-module.html
/pyarabic/doc/toc-pyarabic.arabicchars'-module.html
/pyarabic/doc/toc-pyarabic.arabicchars-module.html
/pyarabic/doc/toc-pyarabic.araby-module.html
/pyarabic/doc/toc.html
/pyarabic/stack.pyc
/resources/ar.zip
/resources/images/Thumbs.db
/docs/الخوارزمية العكسية.doc
/output/allverbs
/output/allverbs.7z
/output/allverbs.txt
/output/allverbs2.zip
/output/readme.txt
/output/ref0.3.txt
/output/ref01.txt
/output/ref03.txt
/src/__init__.pyc
/src/alefmaddaverbtable.pyc
/src/ar_ctype.pyc
/src/ar_verb.pyc
/src/arabic_const.pyc
/src/classverb.pyc
/src/conjugatedisplay.pyc
/src/mosaref_main.pyc
/src/triverbtable.pyc
/src/verb_const.pyc
