/docs/الخوارزمية العكسية.doc
/output/allverbs
/output/allverbs.7z
/output/allverbs.txt
/output/allverbs2.zip
/output/readme.txt
/output/ref0.3.txt
/output/ref01.txt
/output/ref03.txt
/src/__init__.pyc
/src/alefmaddaverbtable.pyc
/src/ar_ctype.pyc
/src/ar_verb.pyc
/src/arabic_const.pyc
/src/classverb.pyc
/src/conjugatedisplay.pyc
/src/mosaref_main.pyc
/src/triverbtable.pyc
/src/verb_const.pyc
