black==21.10b0
click==8.0.3
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Limiter==1.4
Flask-Minify==0.32
htmlmin==0.1.12
itsdangerous==2.0.1
Jinja2==3.0.3
jsmin==3.0.0
lesscpy==0.15.0
limits==1.5.1
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
ply==3.11
PyArabic==0.6.14
PyYAML==6.0
regex==2021.11.10
six==1.16.0
tomli==1.2.2
typing-extensions==4.0.0
Werkzeug==2.0.2
xxhash==2.0.2
