@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700&display=swap');
@font-face {
    font-family:ColoredTashkeelFont;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/DroidNaskh-Regular-Colored.ttf) format("truetype");
  }



  body {
    font-family: 'Tajawal' !important;
    font-size: 1rem !important;
}

  table {
    font-family: ColoredTashkeelFont, 'Droid Arabic Naskh', Amiri,"Traditional Arabic",Sans, Arial;
  
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:80%;
    border:3px solid #ccc
  }


  

/* Header */
.navbar a.nav-link{
    font-size: 1.1rem !important;
}

.navbar a.nav-link .nav-link-title{
    padding-top: 5px;
}
/* End Headers */

a.btn{
    font-size: 1rem;
}

a.btn span{
    padding-top: 3px;
}


th.table-head-title{
    font-size:0.8rem !important;
}



.curson-pointer{
  cursor: pointer;
}
